$f: "Lato", sans-serif;
$fsize: 70px;
$fsize2: 30px;
$fsizeh2: 40px;
$color1: #054a91;
$color2: #3E7CB1;
$color3:#81A4CD;
$color4:#DBE4EE;
$color5:#F17300;
$color6:#2B2C28;
$color7:#4F517D;
$color8:#DADDD8;
$color9:#698996;
$color10:#A17C6B;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
/*nav{
 position: fixed;
width: 100%;

 .drop-down{
    position: relative;
height: 40px;
background-color: blueviolet;
display: flex;
justify-content: end;   
    a{
        padding: 10px;
    }
     ul{
        position: absolute;
     }
}
h1{
    font-family: $f;
    font-size: $fsize;
    text-align: center;
}

}*/
nav {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
    background-image: url("../1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;  
  .container{
    display: flex;
    flex-direction: column;
 
    justify-content: center;
    h1 {
      font-size: $fsize;
      font-family: $f;
    }
    h3 {
      text-align: center;
      font-size: $fsize2;
      font-family:'Gloria Hallelujah', cursive;
    }
    button {
      display: flex;
      justify-content: center;
      margin: 7% auto 4% auto;
      height: 13%;
      width: 35%;
      padding: 3.5% 2%;
      font-size: 20px;
      background-color: $color5;
      border-radius: 15px;
    }
  }
  }
  .first{
width: 100%;
.container1{
    display: flex;
   flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
h2{
font-size: $fsizeh2;
margin-top: 9%;
}
p{
    font-size: larger;   
    margin: 0.8%;
}
button {
    display: flex;
    justify-content: center;
    margin: 1% auto 1% auto;
    height: 80px;
    width: 100px;
    padding: 0.5% 1%;
    font-size: 15px;
    background-color: $color5;
    border-radius: 15px;
  }
}
  }
  .second{
    background-color: $color2;
    font-size: 100%;
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 1.5em;
        }
       
    }
    .forcards{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
div{
    margin: 10%;
    text-align: center;
   h4{
    font-size: 40px;
   }
}
    }
  }
  .third{
    background-color: $color3;
  }
  .forth{
    background-color: $color7;
  }
  .copyright{
    background-color: $color4;
  }
